#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=ue4server

# Root password
rootpw --iscrypted $6$iNJs8qyujRxx6v8j$wSaVHN6oHMRWSMhuDoPB3fxm2vCzXa0xMKyUKJwR4lxWjaK7OVZHJaqwaC7gIrLZJGwL92VGh3AjUnQeknpCO/
# System services
services --enabled="chronyd"
# System timezone
timezone America/Chicago --isUtc
user --name=ue4user --password=$6$hGLkSPVMkPG6jCu6$/DpZbjbnx1fMslZ3wTUCj2othVPZ2oqqjNSqliiSg7q5PAauc0wdLffkchEzbaK7./QS8towmwkZzjmBjP9WE/ --iscrypted --gecos="UE4 User"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools
vim
git

%post
# Update CentOS
yum update -y

# Download additional config files
cd /tmp
git clone https://github.com/mach7monkey/ue4starter.git
cd

# Create ue4user
useradd ue4user -m
passwd -d ue4user

# Configure SSH Server
mkdir -p /home/ue4user/.ssh
cp /tmp/ue4starter/id_ue4user.rsa /home/ue4user/.ssh/authorized_keys
cp -f /tmp/ue4starter/bashrc /home/ue4user/.bashrc
cp -f /tmp/ue4starter/bashrc /root/.bashrc
cp /tmp/ue4starter/dir_colors /home/ue4user/.dir_colors
cp /tmp/ue4starter/dir_colors /root/.dir_colors
cp /tmp/ue4starter/vimrc /home/ue4user/.vimrc
cp /tmp/ue4starter/vimrc /root/.vimrc
cp -f /tmp/ue4starter/sshd_config /etc/ssh/sshd_config

# Set permissions
chmod 700 /home/ue4user/.ssh
chmod 600 /home/ue4user/.ssh/authorized_keys

# Open Firewall for UE4
firewall-cmd --zone=public --add-port=7777/tcp --permanent

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
